@use '../../styles/variables'
  
.home
  width: 100%
  max-width: 1148px
    
  section
    width: 100%
    height: 100vh

  .hero
    display: flex
    align-items: center
    justify-content: center

  .features
    display: flex
    align-items: center
    justify-content: center

    