@use '../../styles/variables'
  
.home
  width: 100%
  max-width: 1200px
    
  section
    width: 100%

  .benefits
    margin: 15rem 0 0 0

@media screen and (max-width: 1060px)
  .home
    max-width: 920px
    
  