.benefits
  height: 55rem

  margin: 15rem 0 0 0

  display: flex
  align-items: center
  justify-content: center

  background-color: red

@media screen and (max-width: 1260px)
  .benefits
    margin: 9rem 0 0 0

@media screen and (max-width: 1060px)